@model IEnumerable<BuildingForm.Models.Product>


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container">

    <table class="table table-sm table-bordered">
        <thead class="bg-primary text-white">
            <tr>

                <th scope="col">Nmeme</th>
                <th scope="col">Price</th>

                <th scope="col">Descriptiom</th>
                <th scope="col">Category</th>
                <th scope="col">İsaprowed</th>
                <th scope="col">Detay</th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {

            <tr>

                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Description</td>
                <td>@item.Catagory</td>
                <td>


                    @if (@item.IsAprowed)
                    {
                        <span class="badge badge-pill badge-success">Onaylı</span>
                    }
                    else
                    {
                        <span class="badge badge-pill badge-danger">Onaylanmadı</span>

                    }




                </td>
                <td>

                    @*<a class="btn btn-danger" asp-controller="Home" asp-action="Edit" asp-route-id="@item.Id"> Detay</a>*@

                    <a class="btn btn-danger" href="/Home/Edit/@item.Id">Düzenle</a>


                </td>


            </tr>


            }



        </tbody>


    </table>

</div>